.header-portf {
  border-bottom: 1px solid #ececec;
}

.header__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
  }

  &__logo--akcent {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }

  &__logo--white {
    color: var(--white);
    margin-bottom: 20px;
    display: block;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 93px;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--additional-text-color);
    padding: 32px 0;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  // @media screen and (max-width: 480px) {
  //   display: none;
  // }
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact-list {
  display: flex;
  justify-content: flex-end;
  gap: var(--card-gap);
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    display: flex;
    align-items: center;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link:hover .contact-list__icon,
  &__link:focus .contact-list__icon {
    fill: var(--accent-color);
  }
}

.active {
  color: var(--accent-color);
  opacity: 1;
}

// .footer-list__link:hover,
// .footer-list__link:focus {
//   color: var(--accent-color);
// }

// .menu-button {
//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: red;
// }

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button .is-open .icon-cross {
  display: block;
}
.menu-button .is-open .icon-menu {
  display: block;
}
