// .section {
//   padding: 94px 0;
// }
// .clients {
//   margin-bottom: 40px;
// }
// .subtitle {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--additional-text-color);
//   margin-bottom: 50px;
//   // @media screen and (max-width: 480px) {
//   //   display: flex;
//   //   text-align: center;
//   // }
// }
// .visually-hidden {
//   display: none;
// }
// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }
