* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto";
  background-color: #ffffff;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  min-width: 100px;
  height: auto;
}
